body,
h3,
h4,
p,
div {
    font-family: "Chakra Petch", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin-top: 80px;
}

.form-row {
    width: 80%;
    max-width: 1000px;
    /* กำหนดความกว้างสูงสุดของฟอร์ม */
    margin: auto;
    /* จัดกึ่งกลาง */
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.form-row .form-group {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.form-row .form-group label {
    width: 100px;
    margin-right: 1rem;
    text-align: right;
    display: inline-block;
}

.form-row .form-group input,
.form-row .form-group select {
    flex: 1;
    margin-left: 1rem;
    /* เพิ่ม margin ซ้ายให้กับ input และ select */
}

.form-row .form-group:last-child {
    margin-right: 0;
    /* ลบ margin ขวาของกลุ่มฟอร์มสุดท้าย */
}

.content {
    padding-top: 20px;
    /* เพิ่มระยะห่างจากด้านบน */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* ทำให้เนื้อหาภายในคอนเทนเนอร์จัดชิดขวา */
}

.button-container .btn {
    font-size: 1.0rem;
    /* เพิ่มขนาดตัวอักษรของปุ่ม */
    padding: 10px 20px;
    /* เพิ่มขนาด padding ของปุ่ม */
    margin-right: 80px;
    /* ลบ margin ขวา */
}

/* พื้นหลัง */
body {
    background-color: white; /* พื้นหลังสีขาว */
}
